/*
 * Poppins
*/

@font-face {
  font-family: 'Poppins Medium';
  src:
    url('~assets/fonts/Poppins-Medium.ttf') format('ttf'),
  ;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Bold';
  src:
  url('~assets/fonts/Poppins-Bold.ttf') format('ttf'),
  ;
  font-weight: 700;
  font-style: normal;
}