:root {
  --viewport-width: 100%;
  --viewport-height: 100%;
  --wrapper-width: 100%;
  --wrapper-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  //cursor: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 16px;
}


body {
  // background-color: $color-black;
  // color: $color-white;
  // font-family: $font-gerstner;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: $black;
  // @include background-image;
}

/**********************************************
Page transition (default)
**********************************************/
.page-enter-active {
  transition:
    opacity $speed-metal $ease-out,
    transform $speed-metal $ease-out
  ;
}

.page-leave-active {
  transition:
    opacity $speed-metal $ease-in,
    transform $speed-metal $ease-in
  ;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-enter {
  transform: translate3d(0, -0.5rem, 0);
}

.page-leave-to {
  transform: translate3d(0, 0.5rem, 0);
}

.page-enter-to,
.page-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/**********************************************
Project to Project transition
**********************************************/
.project-to-project-leave {
  > section:not(.up-next-cta) {
    opacity: 1;
  }

  .up-next-cta {
    .up-next-cta-inner {
      .cta-images {
        .cta-image {
          &:not(.torn) {
            opacity: 0;
          }
        }
      }

      .cta-content {
        opacity: 1;
      }
    }
  }
}

.project-to-project-leave-active {
  > section:not(.up-next-cta) {
    transition: opacity $speed-demon $evil-ease;
  }

  .up-next-cta:not(#temp-hero) {
    transition: transform $speed-metal $evil-ease;

    .up-next-cta-inner {
      .cta-images {
        .cta-image {
          transition: opacity $speed-metal $ease-out $speed-metal;
        }
      }

      .cta-content {
        transition: opacity $speed-metal $ease-out $speed-metal;
      }
    }
  }
}

.project-to-project-leave-to {
  > section:not(.up-next-cta) {
    opacity: 0;
  }

  .up-next-cta:not(#temp-hero) {
    .up-next-cta-inner {
      .cta-images {
        .cta-image {
          &:not(.torn) {
            opacity: 1;
          }
        }
      }

      .cta-content {
        opacity: 0;
      }
    }
  }
}

.project-to-project-enter {
  > section:not(.case-study-hero) {
    opacity: 0;
  }

  .case-study-hero {
    .case-study-hero-inner {
      .logo {
        opacity: 0;
      }
    }
  }
}

.project-to-project-enter-active {
  > section:not(.case-study-hero),
  .case-study-hero {
    transition: opacity $speed-metal $evil-ease;
  }

  .case-study-hero {
    .case-study-hero-inner {
      .logo {
        transition: opacity $speed-metal $evil-ease;
      }
    }
  }
}

.project-to-project-enter-to {
  > section:not(.case-study-hero) {
    opacity: 1;
  }

  .case-study-hero {
    .case-study-hero-inner {
      .logo {
        opacity: 1;
      }
    }
  }
}

/**********************************************
Misc
**********************************************/
hr {
  margin: 0;
}

.visually-hidden {
  @include visually-hidden;
}

@media (min-width: $tablet) {
  .section-base {
    padding: span(2) span(1);
  }
}


/**********************************************
Spacing Helper: Class Based Margins / Padding
**********************************************/
@for $i from 0 through 6 {
  section[data-spacing~="pmt#{$i}"] {
    padding-top: span($i);
  }
  section[data-spacing~="pmb#{$i}"] {
    padding-bottom: span($i);
  }
}

@media (min-width: $tablet) {
  @for $i from 0 through 6 {
    section[data-spacing~="ptt#{$i}"] {
      padding-top: span($i);
    }
    section[data-spacing~="ptb#{$i}"] {
      padding-bottom: span($i);
    }
  }
}

@media (min-width: $desktop) {
  @for $i from 0 through 6 {
    section[data-spacing~="pdt#{$i}"] {
      padding-top: span($i);
    }
    section[data-spacing~="pdb#{$i}"] {
      padding-bottom: span($i);
    }
  }
}


/**********************************************
Animations
**********************************************/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sending {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**********************************************
Vue Transitions
**********************************************/
.fade-enter-active,
.fade-leave-active {
  transition: opacity $speed-demon ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition:
    transform $speed-metal $ease-out-quint
  ;
}

.slide-enter,
.slide-leave-to {
  transform: translate3d(var(--viewport-width), 0, 0);
}


.menu-left-border {
  width: 3px;
  height: 100%;
  // background-image: url('~static/images/border-test-2.png');
  background-size: 3px 30px;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-right-border{
  width: 3px;
  height: 100%;
  // background-image: url('~static/images/border-test-2.png');
  background-size: 3px 30px;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-top-border {
  width: 100%;
  height: 3px;
  // background-image: url('~static/images/border-test.png');
  background-size: 30px 3px;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-bottom-border {
  width: 100%;
  height: 3px;
  // background-image: url('~static/images/border-test.png');
  background-size: 30px 3px;
  background-repeat: repeat;
  position: absolute;
  left: 0;
  bottom: 0;
}
