/* Respond */
@mixin respond-to($mq) {
  @media all and #{$mq} {
    @content;
  }
}

@mixin can-hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin aspect-ratio($ratio) {
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: $ratio;
  }
}

@mixin section-padding-mobile {
  padding: span(6) span(4);
}

@mixin section-padding-tablet {
  padding: span(3) span(2);
}

@mixin section-padding-desktop {
  padding: span(2);
}

@mixin abs-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin abs-top-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin circle($rad) {
  border-radius: 50%;
  width: $rad;
  height: $rad;
}

@mixin dark-grey-color-overlay {
  filter: brightness(0%);
  opacity: 0.5;
}

@mixin svg-glow {
  filter: drop-shadow(0 0 12px $light-blue-shadow);
}

@mixin fade-0 {
  opacity: 0;
  transition: opacity $speed-metal $ease-out;

  &.trigger-0 {
    opacity: 1;
  }
}

@mixin fade-25 {
  opacity: 0;
  transition: opacity $speed-metal $ease-out;

  &.trigger-25 {
    opacity: 1;
  }
}

@mixin fade-50 {
  opacity: 0;
  transition: opacity $speed-metal $ease-out;

  &.trigger-50 {
    opacity: 1;
  }
}

@mixin lift-0 {
  transition: transform $speed-metal $ease-out;
  transform: translate3d(0px, 66px, 0px);

  &.trigger-0 {
    transform: translate3d(0px, 0px, 0px);
    transform: 1;
  }
}

@mixin lift-25 {
  transition: transform $speed-metal $evil-ease;
  transform: translate3d(0px, 66px, 0px);

  &.trigger-25 {
    transform: translate3d(0px, 0px, 0px);
    transform: 1;
  }
}

@mixin lift-50 {
  transition: transform $speed-metal $ease-out;
  transform: translate3d(0px, 66px, 0px);

  &.trigger-50 {
    transform: translate3d(0px, 0px, 0px);
    transform: 1;
  }
}

@mixin lift-and-fade-0 {
  opacity: 0;
  transform: translate3d(0px, 66px, 0px);
  transition: opacity $speed-metal $ease-out, transform $speed-metal $ease-out;

  &.trigger-0 {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@mixin lift-and-fade-25 {
  opacity: 0;
  transform: translate3d(0px, 66px, 0px);
  transition: opacity $speed-metal $ease-out, transform $speed-metal $ease-out;

  &.trigger-25 {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

// Fade Up In
@mixin fade-up-in {
  transition: opacity $speed-metal $ease-out-quint, transform 0ms $ease-out-quint $speed-metal;
  opacity: 0;
  transform: translate(0, 10px);
}
@mixin fade-up-in-active {
  transition: opacity $speed-mask $ease-out-quint $speed-demon, transform $speed-mask $ease-out-quint $speed-demon;
  opacity: 1;
  transform: translate(0, 0px);
}

@mixin for-n-children($n) {
  @for $i from 0 to $n {
    &:nth-child(#{$i}) {
      @content($i);
    }
  }
}

@mixin staggered-lift-fade($delay, $items) {
  & > * {
    @for $index from 0 to $items {
      &:nth-child(#{$index}) {
        transition-delay: $delay * $index;
      }
    }
  }
}

@mixin fade-show-in {
  opacity: 1;
  visibility: visible;
  transition: opacity $speed-demon ease, visibility 0ms linear;
}

@mixin fade-show-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity $speed-demon ease, visibility 0ms linear $speed-demon;
}

@mixin prevent-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin background-image {
  background-color: $black;
  background-image: var(--background-image);
  background-size: cover;
}
