
@import 'mixins';
// @import 'fonts';
@import 'icons';
@import 'grid';


// Colors
$black: #232020;
$off-white: #e7e7e7;
$white: #ffffff;

// Margins
$margin-extra-large: 48px;
$margin-large: 32px;
$margin-normal: 24px;
$margin-small: 12px;
$margin-extra-small: 6px;

// Fonts
// $gt-walsheim-medium: 'GT Walsheim Medium', Helvetica, sans-serif;
// $gt-walsheim-bold: 'GT Walsheim Bold', Helvetica, sans-serif;
// $gt-walsheim-condensed-bold: 'GT Walsheim Pro Condensed Bold', Helvetica, sans-serif;
// $playfair-display: 'Playfair Display', Helvetica, sans-serif;
// $marker: 'Marker', 'Bradley Hand', cursive;

// Weights
$weight-black: 900;
$weight-extra-bold: 800;
$weight-bold: 700;
$weight-semibold: 600;
$weight-medium: 500;
$weight-regular: 400;

// Ratios
$rat-square: 100%; // 1:1
$rat-5-4: 80%; // 5:4
$rat-3-2: 66.666%; // 3:2
$rat-16-9: 56.25%; // 16:9
$rat-2-1: 50%; // 2:1
$rat-anamorphic: 41.666%; // 2.4:1

// Speeds
$speed-demon: 333ms;
$speed-metal: 666ms;
$speed-mask: 1000ms;

// Eases
$evil-ease: cubic-bezier(0.666, 0.000, 0.333, 1.000);
$steezy-ease: cubic-bezier(0.85, 0, 0.15, 1);
$ease-out:  cubic-bezier(0.000, 0.000, 0.666, 1.000);
$ease-in:   cubic-bezier(0.666, 0.000, 1.000, 0.333);
$ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
$bouncy:    cubic-bezier(0.000, 0.888, 0.333, 1.800);
$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);

// Color Mode Transition
$mode-transition: $speed-metal $evil-ease;
$hover-fade-transition: $speed-metal * 0.75 $evil-ease;

/* Media Queries */
$tablet:             '(min-width: 768px)';
$tablet-landscape:   '(min-width: 768px) and (orientation: landscape)';
$large-tablet:       '(min-width: 960px)';
$desktop:            '(min-width: 1280px)';
$average-desktop:    '(min-width: 1440px)';
$macbook:            '(min-width: 1680px)';
$retina-macbook:     '(min-width: 1920px)';
$largest-screens:    '(min-width: 2000px)';
$landscape:          '(orientation: landscape)';

/* Color function for SVG mixins */
@function svgColorMaker($color) {
  @return '%23' + str-slice('#{$color}', 2, -1);
}
