@font-face {
  font-family: "poppins";
  src: url("/fonts/Poppins-Regular.ttf")  format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "poppins-semi-bold";
  src: url("/fonts/Poppins-SemiBold.ttf")  format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "poppins-extra-bold";
  src: url("/fonts/Poppins-ExtraBold.ttf")  format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "omelet-hand";
  src: url("/fonts/Omelet-Hand.otf")  format("opentype");
  font-weight: 400;
  font-style: normal;
}
