:root {
  --scrollbar-width: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: $black;
  background-color: $white;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
  background: rgba($orange, 0.5);
  color: $black;
}

::-moz-selection {
  background: rgba($orange, 0.5);
  color: $black;
}

.pre {
  white-space: pre-line;
}

.screen-reader {
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  font-size: 0px;
  line-height: 0em;
}

button {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  background: none;
  appearance: none;
  text-transform: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// --------------------------------------------
// Pages
// --------------------------------------------

.page {
  &.space-t {
    &:before {
      content: '';
      height: $header-height;
      display: flex;
    }
  }
}

// --------------------------------------------
// Links
// --------------------------------------------

a {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

.underline {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  cursor: pointer;
}

// --------------------------------------------
// Background Colors
// --------------------------------------------

.bg-white {
  background-color: $white;
}

.bg-gold {
  background-color: $gold;
}

.bg-green {
  background-color: $green;
}

.bg-orange {
  background-color: $orange;
}

.bg-purple {
  background-color: $purple;
}

.bg-black {
  background-color: $black;
}

.bg-ash {
  background-color: $ash;
}

// --------------------------------------------
// Gutters
// --------------------------------------------

.gutter {
  margin-left: $space-s;
  margin-right: $space-s;

  @include respond-to($tablet) {
    margin-left: $space-m;
    margin-right: $space-m;
  }

  @include respond-to($large-tablet) {
    margin-left: $space-l;
    margin-right: $space-l;
  }
}

.gutter-lg {
  margin: 0 span(1);
}

.marg-l {
  margin-left: $space-s;

  @include respond-to($tablet) {
    margin-left: $space-m;
  }

  @include respond-to($large-tablet) {
    margin-left: $space-l;
  }
}

.marg-r {
  margin-right: $space-s;

  @include respond-to($tablet) {
    margin-right: $space-m;
  }

  @include respond-to($large-tablet) {
    margin-right: $space-l;
  }
}

// --------------------------------------------
// Paddings
// --------------------------------------------

.pad-all {
  padding: $space-s;

  @include respond-to($tablet) {
    padding: $space-m;
  }

  @include respond-to($large-tablet) {
    padding: $space-l;
  }
}

.pad-t {
  padding-top: $space-s;

  @include respond-to($tablet) {
    padding-top: $space-m;
  }

  @include respond-to($large-tablet) {
    padding-top: $space-l;
  }
}

.pad-b {
  padding-bottom: $space-s;

  @include respond-to($tablet) {
    padding-bottom: $space-m;
  }

  @include respond-to($large-tablet) {
    padding-bottom: $space-l;
  }
}

.pad-bl {
  padding-bottom: span(2);

  @include respond-to($tablet) {
    padding-bottom: span(1);
  }
}

.section-pad {
  padding: 4rem 0;

  @media (max-width: 768px) {
    padding: 2rem 0;
  }
}
